<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta name="description" content="Aula de HTML5" />
	<meta name="keywords" content="posicionamento,css,html5" />
	<link rel="stylesheet" href="css/store.css" />
</head>

<body>
	<header>
		<b>ImpactaStore</b>
	</header>
	<section class="principal">
		<article>
			<img src="image/full-banner.jpg" />
		<!-- 	<h1>HTML5 Fundamentos</h1>
			<p>criando aplicações web de alto impacto.</p>-->

		</article>
	</section>

	<section>
		
		<article class="produto"><div>
	<img src="image/tablet.jpg" />
	<h1>Tablet</h1>
</div>
		</article>

		<article class="produto">
			<img src="image/smart.jpg" />
			<h1>Smartphone</h1>
		</article>

		<article>

		</article>
	</section>

	<section>

		<article>

		</article>
		<article class="capa">
			<img src="image/capa1.jpg" />
			<img src="image/capa2.jpg" />
		</article>

	</section>

	<footer>
		Rodapé
	</footer>
</body>
</html>