    {% load staticfiles %}
<!DOCTYPE html>
<html lang="pt-br" ng-app="appAngular">
<head>
    <meta charset="utf-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <link rel="stylesheet" href="{% static "css/estilo.css" %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <title>Teste angular JS</title>
</head>
<body  ng-controller="Principal as modulo">
    <header> Learning Management System</header>
    <nav class="menu"> 
        <ul>
            <li><a href="../../">Home</a></li>
            <li>Chat</li>
            <li>Blog</li>
        </ul>
    </nav>
    <main class="principal">
         <section >

            <article>
            <header>Notícias</header>
            <br>
            <p>Escreva aqui suas notícias</p>
            </article>

        </section>

        <section class="col-md-19" style="margin: 0 auto;">
            <article>
            <form class="form-group" style="width:100%; margin: 0 auto;" action="" method="POST">
                {% csrf_token %}
                <label><strong>Títuto do Post</strong></label>
                {{form.post_title}}
                <br>
                <label><strong>Conteúdo do Post</strong></label>
                {{form.post_content}}
                <br>
            <input class="btn btn-primary" type="submit" value="Salvar">
        </form>
    </article>
    <article style="border-top: 1px solid #333; margin-top: 20px;">
        <iframe width="1200" style="border: none;" height="500" src="https://www.r7.com/" name="Globo"></iframe>
    </article>
        
        </section>
         
    </main>


    <script type="text/javascript">
        angular.module('appAngular', [])
            .controller('Principal', [
                function () {

                    var self = this;
                    var mensagemAlterada = true;

                    self.exibirMsg = function () {

                        self.mensagem = document.getElementById("mensagem").value;
                        document.getElementById("mensagem").value = "";

                    };
                }
            ]);
 
    </script>
</body>
</html>